*.json filter=lfs diff=lfs merge=lfs -text
*.backup filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/3a1b00f8-5068-444a-9b01-13bafd5d030c/679a914fcd367fff@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/ec845e7b-5cd5-4478-bd36-a05da61f441e/3a0f43fea3c356f2@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/ec845e7b-5cd5-4478-bd36-a05da61f441e/4ab45981d4b8e08d@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/ec845e7b-5cd5-4478-bd36-a05da61f441e/7f313453d2c3ffe9@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/ec845e7b-5cd5-4478-bd36-a05da61f441e/aa236977dd9089b5@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/f7a19289-edf6-4f7c-900d-aa6f101be883/13128bab58d849d9@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/f7a19289-edf6-4f7c-900d-aa6f101be883/13128bab58d849d9@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/f7a19289-edf6-4f7c-900d-aa6f101be883/5f226e40d1aabfe6@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/f7a19289-edf6-4f7c-900d-aa6f101be883/5f226e40d1aabfe6@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/f7a19289-edf6-4f7c-900d-aa6f101be883/90e334f86920a236@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/f7a19289-edf6-4f7c-900d-aa6f101be883/ee99a852e51f9c32@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/f7a19289-edf6-4f7c-900d-aa6f101be883/ee99a852e51f9c32@v2 filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.95e8b59b61 filter=lfs diff=lfs merge=lfs -text
*.evaluations filter=lfs diff=lfs merge=lfs -text
*.2656274335 filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
/.gemini/installation_id filter=lfs diff=lfs merge=lfs -text
/.gemini/tmp/bin/rg filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.replit filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.example filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.diff filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.node filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.prisma filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
*.tsx filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.exp filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.tsbuildinfo filter=lfs diff=lfs merge=lfs -text
*.pid filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
*.tmp filter=lfs diff=lfs merge=lfs -text
/jesus-cartel-production/audiobot.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
*.controller filter=lfs diff=lfs merge=lfs -text
*.worker filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/6d3acbdf-b578-40d7-b943-c92f5682159f/504ec6fb09a81ab1@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/6d3acbdf-b578-40d7-b943-c92f5682159f/57c549c4f240b7a6@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/6d3acbdf-b578-40d7-b943-c92f5682159f/57c549c4f240b7a6@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/6d3acbdf-b578-40d7-b943-c92f5682159f/8e2b1decd080e72e@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/6d3acbdf-b578-40d7-b943-c92f5682159f/ce9148fa4407b68d@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/7f730de5-0070-4105-952d-149b982848b9/ae218c1df47ff8af@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/834c77b7-e3da-46cb-957e-32f43cad94dd/ae218c1df47ff8af@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/834c77b7-e3da-46cb-957e-32f43cad94dd/ce9148fa4407b68d@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/8266feb4b4609f5e@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/8266feb4b4609f5e@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/83efb2062d1b7230@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/83efb2062d1b7230@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/ae218c1df47ff8af@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/ae218c1df47ff8af@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/cf785abff40ffb86@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/cf785abff40ffb86@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/e92b99f49e08be9e@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/e92b99f49e08be9e@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/f1e2400b20244d8a@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/f1e2400b20244d8a@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/8d4ab7e7-1293-4b8b-bdc4-e42b9ec3f1d7/f1e2400b20244d8a@v3 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/0076bb64016c0b84@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/0076bb64016c0b84@v3 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/0a0c57b225916f99@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/177d7129eecccaa2@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/177d7129eecccaa2@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/1a5e4707a5b0edc7@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/2524415547958c40@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/2fc72f4509b25b5a@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/3153caa1125a9d2b@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/3153caa1125a9d2b@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/3523addd18c1c217@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/393433d9e8e0d348@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/3ebce98862b8b670@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/40059b850019152b@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/40059b850019152b@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/4a690646f2115d02@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/56de483dfc3ab857@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/6aec846aa2517cf3@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/77c3638f04426543@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/7d9caf52abc09d78@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/802b59ed870e3563@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/81295467cd1aa1c2@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/8e2b1decd080e72e@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/8e2b1decd080e72e@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/ae218c1df47ff8af@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/ae218c1df47ff8af@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/bc9ab0a6927b8c9b@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/bd28c072d17d84a8@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/c547f1983752b48d@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/c5f0bebba9c5a9d6@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/ce9148fa4407b68d@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/ce9148fa4407b68d@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/cf785abff40ffb86@v1 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/cf785abff40ffb86@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/d0606d63f02e2df1@v2 filter=lfs diff=lfs merge=lfs -text
/.claude/file-history/9614bccc-348a-4352-9615-3565a934b458/f1e66f9a97868c1c@v2 filter=lfs diff=lfs merge=lfs -text
*.swp filter=lfs diff=lfs merge=lfs -text
*.viminfo filter=lfs diff=lfs merge=lfs -text
/valifi/othersxs/bin/ipfs filter=lfs diff=lfs merge=lfs -text
/valifi/othersxs/bin/ollama filter=lfs diff=lfs merge=lfs -text
/valifi/othersxs/jesus-cartel-production/audiobot.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
*.err filter=lfs diff=lfs merge=lfs -text
*.flake8 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
bin/ipfs filter=lfs diff=lfs merge=lfs -text
bin/ollama filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
