option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "bun run production:start"
    NodeVersion: 20
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    DATABASE_URL: "postgresql://valifi_admin:8514Direction!@valifi-production-db.c8y4mxfhjklm.us-east-1.rds.amazonaws.com:5432/valifi_production"
    JWT_SECRET: "valifi_jwt_production_secret_2025_secure_key_app_runner_rds_fintech_ai_powered_platform"
    CORS_ORIGIN: "*"
    ENABLE_TRADING_BOTS: "true"
    ENABLE_REAL_MONEY: "false"